<app-draggeable
    [template]="planeContent"
    [data]="{
        messages:messages(),
        messageInputPosition:messageInputPosition()
    }"
    class="full-area"
    (click)="onClick($event)">
</app-draggeable>

<ng-template #planeContent let-data="data">
    @if (data.messageInputPosition) {
        <app-message-input
            class="message" 
            [style.left.px]="data.messageInputPosition.x"
            [style.top.px]="data.messageInputPosition.y"
            (addMessage)="onAddMessage($event)"
            [setCoordinates]="data.messageInputPosition"
        />
    }
    @for (message of data.messages; track message.id) {
        <div
            class="message ignore-text"
            [style.left.px]="message.coordinates.x"
            [style.top.px]="message.coordinates.y"
            style="position: absolute;"
        >
            {{ message.text }}
        </div>
    }
</ng-template>