<div
    (mousedown)="onMouseDown($event)"
    (mousemove)="onMouseMove($event)"
    (mouseup)="onMouseUp($event)"
    
    (touchstart)="onMouseDown($event)"
    (touchmove)="onMouseMove($event)"
    (touchend)="onMouseUp($event)"
    class="full-area"
>
    @for (message of messages(); track message.id) {
        <div 
            class="message ignore-text" 
            [style.left.px]="message.coordinates.x + draggedPosition.x"
            [style.top.px]="message.coordinates.y + draggedPosition.y"
        >
            {{ message.text }}
        </div>
    }
    @if (messageInputPosition) {
        <app-message-input
            class="message" 
            [style.left.px]="messageInputPosition.x + draggedPosition.x"
            [style.top.px]="messageInputPosition.y + draggedPosition.y"
            (addMessage)="onAddMessage($event)"
            [setCoordinates]="messageInputPosition"
        />
    }
</div>